In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [2]:
small_football = football[football.columns[1:8]].head(25)
small_football

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [3]:
small_football = football[football.columns[1:8]].head(25)
small_football

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [4]:
s = small_football['Nationality'].value_counts()
s

Spain        4
Uruguay      3
Belgium      3
Germany      3
Argentina    3
France       2
Brazil       1
England      1
Portugal     1
Italy        1
Slovenia     1
Poland       1
Croatia      1
Name: Nationality, dtype: int64

In [5]:
s.index

Index(['Spain', 'Uruguay', 'Belgium', 'Germany', 'Argentina', 'France',
       'Brazil', 'England', 'Portugal', 'Italy', 'Slovenia', 'Poland',
       'Croatia'],
      dtype='object')

In [6]:
s.index[0]

'Spain'

In [7]:
len(s.index)

13

In [8]:
s['Germany']

3

In [9]:
s.loc[s > 1]

Spain        4
Uruguay      3
Belgium      3
Germany      3
Argentina    3
France       2
Name: Nationality, dtype: int64

In [16]:
#Сколько футбольных клубов представлено в датасете
ss=small_football['Club'].value_counts()
len(ss)

10

In [17]:
#Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете?
s.index[-1]

'Croatia'

In [36]:
#Данные об игроках каких позиций (Position) занимают более 10% датасета?
small_football['Position'].value_counts(normalize=True)>0.1

GK      True
ST      True
RCM    False
LF     False
LCM    False
CB     False
CDM    False
CAM    False
RCB    False
LDM    False
LW     False
RF     False
LCB    False
LS     False
RS     False
Name: Position, dtype: bool

In [37]:
small_football['Position'].value_counts(normalize=True)<0.1

GK     False
ST     False
RCM    False
LF     False
LCM    False
CB     False
CDM    False
CAM    False
RCB    False
LDM    False
LW     False
RF     False
LCB    False
LS     False
RS     False
Name: Position, dtype: bool

In [39]:
s = small_football['Wage'].value_counts()
s

205000    3
355000    2
240000    2
300000    1
130000    1
225000    1
455000    1
340000    1
315000    1
565000    1
405000    1
215000    1
380000    1
285000    1
145000    1
290000    1
125000    1
200000    1
420000    1
94000     1
260000    1
Name: Wage, dtype: int64

In [40]:
s = small_football['Wage'].value_counts(bins=4)
s

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [41]:
small_football.loc[(small_football['Wage'] > s.index[3].left) & 
                   (small_football['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [56]:
#Задание 1
s=football[football.Nationality=="Spain"].Wage.value_counts(bins=4)
s

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

In [80]:
s.unique()[-1]/sum(s.unique()[0:3])

0.004491017964071856

In [84]:
#Задание 2
football[football.Club=="Manchester United"].Nationality.count()

20

In [101]:
#Задание 3
football[(football.Nationality  == "Brazil")&(football.Club=="Juventus")].Name.unique()[0],football[(football.Nationality  == "Brazil")&(football.Club=="Juventus")].Name.unique()[1]

('Alex Sandro', 'Douglas Costa')

In [103]:
#Задание 4
football[football.Age>35].Club.max()

'Zagłębie Sosnowiec'

In [114]:
#Задание 5
ss=football[football.Nationality=="Argentina"].Age.value_counts(bins=4)
ss.unique()[-1]

49

In [133]:
round(football[(football.Nationality == 'Spain')&(football.Age==21)].Name.count()/football[football.Nationality == 'Spain'].Name.count()*100,2)

11.77